#itemQuantity1,
#itemQuantity2,
#itemQuantity3 {
    width: 75px;
}

body {
    background-color: lightgrey;
}

#barLine {
    background-color: blue;
}

#header {
    color: white;
    font-size: 50px;
    padding: 20 0 20 0;
    text-align: center;
}