#itemQuantity1,
#itemQuantity2,
#itemQuantity3 {
    width: 75px;
}

#noteFill {
	font-family: 'Anton', sans-serif;
	letter-spacing: 0.5px;
	color: white;
	text-decoration: underline;
}

.form-control {
	width: 100%;
	margin: 10px 0px 10px 0px;
}

hr {
	background-color: red;
	border-width: 3px;
}

h3, a {
	color: white;
}

.loadingStyle {
	background-image: url("https://static.thenounproject.com/png/20724-200.png");
	background-repeat: no-repeat;
}

a:hover {
	color: red;
}

#searchTab {
	color: black;
	font-weight: bold;
	font-size: 20px;
	border: solid 2px;
}

body {
    background-color: lightgrey;
}

#barLine {
    background-color: #ff0101;
}

#header {
    color: black;
    font-size: 50px;
    padding: 20 0 20 0;
    text-align: center;
	background: #ff0101;
	font-weight: bold;
	margin-top: 10px;
	border: solid 2px;
	border-color: black;
	width: 100%;
}
#exampleInputText1 {
    text-align: center;
}
.btn-primary {
	background: #ff0101;
	font-family: 'Open Sans', sans-serif;

}

label {
    background: #ff0101;
    height: 30px;
    width: 100%;
	text-align: center;
	color: black;
}

.table {
    background: white;
}

body {
	width: 100wh;
	height: 90vh;
	background: linear-gradient(-45deg, #52eee391, #3c49e7, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
	font-family: 'Open Sans', sans-serif;

	   

}
input[type=text] {

	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
	
	background-image: url(images/comment-author.gif);
    background-position: 7px 7px;
    background-repeat: no-repeat;
}

.border-success {
	border-color: black;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
